In [3]:
import pandas as pd
import numpy as np

# Creating dictionary with null values
data = {
    "Student_Name": ["Sanskar", "Riya", "Kunal", "Sneha", "Rohit", "Neha"],
    "Semester": ["Sem 1", "Sem 2", "Sem 1", "Sem 3", "Sem 2", "Sem 1"],
    "Marks": [78, 85, 92, 30, 88, np.nan],   # null value in marks
    "Height": [165, 158, 172, 160, np.nan, 155],  # null value in height
    "Age": [19, 20, 18, 21, 20, np.nan],     # null value in age
    "Study_Hours": [5, 6, 8, 2, 7, 4]
}

# Creating DataFrame
df = pd.DataFrame(data)

print(df)

  Student_Name Semester  Marks  Height   Age  Study_Hours
0      Sanskar    Sem 1   78.0   165.0  19.0            5
1         Riya    Sem 2   85.0   158.0  20.0            6
2        Kunal    Sem 1   92.0   172.0  18.0            8
3        Sneha    Sem 3   30.0   160.0  21.0            2
4        Rohit    Sem 2   88.0     NaN  20.0            7
5         Neha    Sem 1    NaN   155.0   NaN            4

In [4]:
semester_count = df["Semester"].value_counts()
print(semester_count)

Semester
Sem 1    3
Sem 2    2
Sem 3    1
Name: count, dtype: int64

In [5]:
# Remove null values for outlier detection
marks = df["Marks"].dropna()

Q1 = marks.quantile(0.25)
Q3 = marks.quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df["Marks"] < lower_bound) | (df["Marks"] > upper_bound)]

print("Outliers in Marks column:")
print(outliers)

Outliers in Marks column:
  Student_Name Semester  Marks  Height   Age  Study_Hours
3        Sneha    Sem 3   30.0   160.0  21.0            2

In [6]:
correlation = df["Marks"].corr(df["Study_Hours"])
print("Correlation between Marks and Study Hours:", correlation)

Correlation between Marks and Study Hours: 0.9523044029899408